/**
 * @name sidebar hider
 * @author idk-yeah#0317
 * @version 2.1
 * @description hides channel list and member list until you hover on them
*/

:root {
    --speed-channels: .4s;
    --speed-users: .3s;
    --size-channels-open: 240px; /*default is 240*/
    --size-channels-closed: 0px; /*set to 0 if you want channel list completely hidden. default is 15*/
    --size-userlist-closed: 55px; /*don't set to 0*/
}

/*hide/show user list*/
.container-2o3qEW { transform: translateX(calc(240px - var(--size-userlist-closed))); margin-left:calc(-240px + var(--size-userlist-closed)); transition:all var(--speed-users)}
.container-2o3qEW:hover {transform: translateX(0px); transition:all var(--speed-users)}

/* hide/show channel list */
.sidebar-1tnWFu {width: var(--size-channels-closed); transition: var(--speed-channels)}
.wrapper-1_HaEi:hover ~ div .sidebar-1tnWFu, .sidebar-1tnWFu:hover {width: var(--size-channels-open)}

/*moves text area and channel name */
.wrapper-1_HaEi:hover ~ div .content-1jQy2l, .sidebar-1tnWFu:hover ~ div .content-1jQy2l {margin-left:calc(-1 * var(--size-channels-open) + var(--size-channels-closed)); transition:margin-left var(--speed-channels);}
.wrapper-1_HaEi:hover ~ div .children-3xh0VB, .sidebar-1tnWFu:hover ~ div .children-3xh0VB {margin-left:calc(-1 * var(--size-channels-open) + var(--size-channels-closed)); transition:margin-left var(--speed-channels);}
.children-3xh0VB, .content-1jQy2l, .tabBody-2dgbAs {margin-left:0px; transition:margin-left var(--speed-channels)}
.wrapper-1_HaEi:hover ~ div .tabBody-2dgbAs, .sidebar-1tnWFu:hover ~ div .tabBody-2dgbAs {margin-left:calc(-1 * var(--size-channels-open) + var(--size-channels-closed)); transition:margin-left var(--speed-channels);}
