/**
 * @name sidebar hider
 * @author i fixed my name pls don't ban me#0317
 * @version 2.0
 * @description hides channel list and member list until you hover on them
*/

:root {
    --speed-channels: .4s;
    --speed-users: .3s;
    --size-channels-open: 240px; /*default is 240*/
    --size-channels-closed: 0px; /*set to 0 if you want channel list completely hidden. default is 15*/
    --size-userlist-closed: 55px; /*don't set to 0*/
}

/*hide/show user list*/
.membersWrap-2h-GB4 { transform: translateX(calc(240px - var(--size-userlist-closed))); margin-left:calc(-240px + var(--size-userlist-closed)); transition:all var(--speed-users)}
.membersWrap-2h-GB4:hover {transform: translateX(0px); transition:all var(--speed-users)}

/* hide/show channel list */
.sidebar-2K8pFh {width: var(--size-channels-closed); transition: var(--speed-channels)}
.wrapper-3NnKdC:hover ~ div .sidebar-2K8pFh, .sidebar-2K8pFh:hover {width: var(--size-channels-open)}
.nowPlayingColumn-2sl4cE {display: none}

/*moves text area and channel name */
.wrapper-3NnKdC:hover ~ div .content-yTz4x3, .sidebar-2K8pFh:hover ~ div .content-yTz4x3 {margin-left:calc(-1 * var(--size-channels-open) + var(--size-channels-closed)); transition:margin-left var(--speed-channels);}
.wrapper-3NnKdC:hover ~ div .children-19S4PO, .sidebar-2K8pFh:hover ~ div .children-19S4PO {margin-left:calc(-1 * var(--size-channels-open) + var(--size-channels-closed)); transition:margin-left var(--speed-channels);}
.children-19S4PO, .content-yTz4x3 {margin-left:0px; transition:margin-left var(--speed-channels)}
